@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #1f2937;
  padding: 50px 80px;
  height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #06b6d4;
  clip-path: polygon(0% 60%, 200% 0%, 0% 0%);
  z-index: -2;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
}

.header h1 {
  color: white;
  font-size: calc(2rem + 2vw);
  position: absolute;
  top: 0;
  left: 5px;
}

.header img {
  max-width: 100%;
  box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.2);
}

.header .about {
  background-color: white;
  box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: -1;
}

.header .about h2 {
  font-size: calc(1.5rem + 2vw);
  margin-bottom: 15px;
}

.header .about p {
  font-size: calc(1rem + 0.5vw);
  color: #374151;
}

.main h2 {
  font-size: calc(1.5rem + 2vw);
  margin-bottom: 15px;
}

.project-container {
  max-width: 100%;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.project-card {
  background-color: white;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.project-screenshot {
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.project-details {
  padding: 10px 10px 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.project-details h3 {
  margin-right: auto;
}

.project-link {
  width: 15px;
}

.one {
  background-color: rgb(136, 54, 54);
}

.two {
  background-color: rgb(117, 112, 189);
}

.three {
  background-color: rgb(39, 141, 39);
}

.four {
  background-color: rgb(215, 91, 219);
}

.five {
  background-color: rgb(233, 129, 81);
}

.six {
  background-color: rgb(76, 185, 221);
}

.footer {
  color: white;
  padding: 20px 0 30px;
  background: #06b6d4;
  box-shadow: 0 0 0 100vmax #06b6d4;
  clip-path: inset(0 -100vw);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer h2 {
  font-size: calc(1.5rem + 2vw);
}

.footer p {
  font-size: 1.1rem;
}

.footer address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer address img {
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.handles {
  display: flex;
  gap: 30px;
}

.handles img {
  width: 30px;
}

@media (max-width: 800px) {
  .header {
    display: initial;
  }

  .header h1 {
    left: 45%;
  }

  .header img {
    margin: -25px 25px 5px -25px;
    max-width: 45%;
    float: left;
  }

  .header .about {
    margin-top: 90px;
  }
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .header h1 {
    position: initial;
  }

  .header img {
    max-width: 100%;
    margin: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .header .about {
    text-align: center;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  .main h2 {
    text-align: center;
  }

  .footer h2 {
    text-align: center;
  }

  .handles {
    margin: 0 auto;
  }
}
